<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <title>Accident</title>
</head>
<body>
<div class="container">
    <a class="btn btn-secondary" th:href="@{/create}">Добавить инцидент</a>
</div>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Название</th>
        <th scope="col">Тип</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="accident : ${accidents}">
        <tr>
            <td>
                <span th:text="${accident.id}"></span>
            </td>
            <td>
                <span th:text="${accident.name}"></span>
            </td>
            <td>
                <span th:text="${accident.type.name}"></span>
            </td>
            <td>
                <ul class="list-group" th:each="rule : ${accident.rules}">
                    <li>
                        <span th:text="${rule.name}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <a class="btn btn-secondary" th:href="@{/update(id=${accident.id})}">Изменить</a>
            </td>
        </tr>
    </div>
    </tbody>
</table>
</div>
</body>
</html>
